/* Version: 1.0.3 */

.sbtitle{
    padding-top: 200px;
    font-size-adjust: auto;
}

.sbtitle h1{
    font-family: 'Lato'; 
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 10px;
}

.navbar-brand{
    font-family: 'Lato';
    padding-top: 40px;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}

.navbar{
    padding-top: 20px;
    background-color: #2385e2;
    border-bottom: none;
    padding-bottom: 20px;
}

.jumbotron{
    background-color: #2385e2;
}

.portfoliopic{
  width: 300px;
  height: 175px;
  border: 1px solid #000;
}

.portfoliopic:hover{
    box-shadow: 2px 2px 2px 2px #000;
}

#brandimg{
    padding-top: 30px;
    float: left;
    width: 50px;
    height: auto;
    padding-right: 10px;
}

.portfoliop{
    text-align: center;
    padding-top: 10px;
}
.topnav {
    padding-top: 70px;
    float: right;
}

.topnav a{
    font-family: 'Lato'; 
    text-decoration: none;
    color: #fff !important;
    font-size: 18px;
    transition: 0.5s;
    
}

.topnav a:hover{
    color: #9d9d9d !important;
}

#currentpg{
    color: #000 !important;
}

.aboutpic{
    width: 200px;
    height: auto;
    border: 3px solid #000;
}

.abouttext{
    width: 75%;
    display: inline-block;
}

.sectiontitle{
    font-family: 'Archivo Narrow';
    font-size: 30px;
    padding-left: 40px;
    margin-top: 20px;
}

.partext{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    padding-left: 40px;;
    margin-top: 10px;
}

.partext #link{
    text-decoration: none;
    transition: 0.5s;
}

.skill-list{
    padding-left: 55px;
}

.bigbullet {
    font-family: 'Archivo Narrow';
    margin-top: 15px;
    list-style-type: disc;
    font-size: 20px;
}

.indent{
    font-family: 'Archivo Narrow';
    font-size: 18px;
    list-style-type: square;
    margin-top: 10px;
    margin-left: 40px;
}

.skillpic{
    padding-left: 0;
    width: auto;
    height: 75px;
}

.skills{
    padding-top:10px;
    padding-left:40px;
}

.skills p{
    padding-top: 10px;
    font-family: 'Archivo Narrow';
    font-size: 18px;
}

.html5p{
    padding-left: 8px;
}

.cssp{
    padding-left: 12px;
}

.jsp{
    padding-left: 4px;
}

.jqp{
    padding-left: 16px;
}

.psp{
    padding-left: 3px;
}

.aip{
    padding-left: 8px;
}

.sketchp{
    padding-left: 16px;
}

.link a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}

.link a:hover{
    text-decoration: none;
    color: #9d9d9d;
}

#mainform{
width:960px;
margin:20px auto;
padding-top:20px;
font-family: 'Archivo Narrow', serif;

}
#form{
border-radius:2px;
padding:20px 30px;
box-shadow:0 0 15px;
font-size:14px;
font-weight:bold;
width:350px;
margin:20px 0 0 35px;
float:left;

}

@media (max-width : 667px) 
{ 
    .col{
        width: 100%;
    }
body {
    max-width: 100%;
    overflow-x: hidden;
}
    .navbar-brand{
        font-size: 10px;
        margin-bottom: 20px;
    }
    #brandimg{
        padding-left: 10px;
        width:50px;
        height: auto;
    }
    .portfoliopic{
  margin-left: 10px;
  width: 150px;
  height: auto;
  border: 1px solid #000;
}
    .portfoliop{
        font-size: 12px;
        padding-top: 5px;
        margin-left: 0;
    }
}


